@font-face {
  font-family: 'Museo Cyrl 700';
  src: url('/fonts/MuseoCyrl-700.eot');
  src: url('/fonts/MuseoCyrl-700.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoCyrl-700.woff2') format('woff2'),
  url('/fonts/MuseoCyrl-700.woff') format('woff'),
  url('/fonts/MuseoCyrl-700.ttf') format('truetype'),
  url('/fonts/MuseoCyrl-700.svg#MuseoCyrl-700') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url('/fonts/MuseoSansCyrl-100.eot');
  src: url('/fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoSansCyrl-100.woff2') format('woff2'),
  url('/fonts/MuseoSansCyrl-100.woff') format('woff'),
  url('/fonts/MuseoSansCyrl-100.ttf') format('truetype'),
  url('/fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Cyrl 300';
  src: url('/fonts/MuseoCyrl-300.eot');
  src: url('/fonts/MuseoCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoCyrl-300.woff2') format('woff2'),
  url('/fonts/MuseoCyrl-300.woff') format('woff'),
  url('/fonts/MuseoCyrl-300.ttf') format('truetype'),
  url('/fonts/MuseoCyrl-300.svg#MuseoCyrl-300') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('/fonts/MuseoSansCyrl-700.eot');
  src: url('/fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoSansCyrl-700.woff2') format('woff2'),
  url('/fonts/MuseoSansCyrl-700.woff') format('woff'),
  url('/fonts/MuseoSansCyrl-700.ttf') format('truetype'),
  url('/fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Cyrl 100';
  src: url('/fonts/MuseoCyrl-100.eot');
  src: url('/fonts/MuseoCyrl-100.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoCyrl-100.woff2') format('woff2'),
  url('/fonts/MuseoCyrl-100.woff') format('woff'),
  url('/fonts/MuseoCyrl-100.ttf') format('truetype'),
  url('/fonts/MuseoCyrl-100.svg#MuseoCyrl-100') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Cyrl 300';
  src: url('/fonts/MuseoCyrl-300Italic.eot');
  src: url('/fonts/MuseoCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoCyrl-300Italic.woff2') format('woff2'),
  url('/fonts/MuseoCyrl-300Italic.woff') format('woff'),
  url('/fonts/MuseoCyrl-300Italic.ttf') format('truetype'),
  url('/fonts/MuseoCyrl-300Italic.svg#MuseoCyrl-300Italic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url('/fonts/MuseoSansCyrl-900.eot');
  src: url('/fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoSansCyrl-900.woff2') format('woff2'),
  url('/fonts/MuseoSansCyrl-900.woff') format('woff'),
  url('/fonts/MuseoSansCyrl-900.ttf') format('truetype'),
  url('/fonts/MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Cyrl 700';
  src: url('/fonts/MuseoCyrl-700Italic.eot');
  src: url('/fonts/MuseoCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoCyrl-700Italic.woff2') format('woff2'),
  url('/fonts/MuseoCyrl-700Italic.woff') format('woff'),
  url('/fonts/MuseoCyrl-700Italic.ttf') format('truetype'),
  url('/fonts/MuseoCyrl-700Italic.svg#MuseoCyrl-700Italic') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Cyrl 900';
  src: url('/fonts/MuseoCyrl-900.eot');
  src: url('/fonts/MuseoCyrl-900.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoCyrl-900.woff2') format('woff2'),
  url('/fonts/MuseoCyrl-900.woff') format('woff'),
  url('/fonts/MuseoCyrl-900.ttf') format('truetype'),
  url('/fonts/MuseoCyrl-900.svg#MuseoCyrl-900') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url('/fonts/MuseoSansCyrl-300.eot');
  src: url('/fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoSansCyrl-300.woff2') format('woff2'),
  url('/fonts/MuseoSansCyrl-300.woff') format('woff'),
  url('/fonts/MuseoSansCyrl-300.ttf') format('truetype'),
  url('/fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Cyrl 500';
  src: url('/fonts/MuseoCyrl-500.eot');
  src: url('/fonts/MuseoCyrl-500.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoCyrl-500.woff2') format('woff2'),
  url('/fonts/MuseoCyrl-500.woff') format('woff'),
  url('/fonts/MuseoCyrl-500.ttf') format('truetype'),
  url('/fonts/MuseoCyrl-500.svg#MuseoCyrl-500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Cyrl 500';
  src: url('/fonts/MuseoCyrl-500Italic.eot');
  src: url('/fonts/MuseoCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoCyrl-500Italic.woff2') format('woff2'),
  url('/fonts/MuseoCyrl-500Italic.woff') format('woff'),
  url('/fonts/MuseoCyrl-500Italic.ttf') format('truetype'),
  url('/fonts/MuseoCyrl-500Italic.svg#MuseoCyrl-500Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('/fonts/MuseoSansCyrl-500.eot');
  src: url('/fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoSansCyrl-500.woff2') format('woff2'),
  url('/fonts/MuseoSansCyrl-500.woff') format('woff'),
  url('/fonts/MuseoSansCyrl-500.ttf') format('truetype'),
  url('/fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Cyrl 900';
  src: url('/fonts/MuseoCyrl-900Italic.eot');
  src: url('/fonts/MuseoCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoCyrl-900Italic.woff2') format('woff2'),
  url('/fonts/MuseoCyrl-900Italic.woff') format('woff'),
  url('/fonts/MuseoCyrl-900Italic.ttf') format('truetype'),
  url('/fonts/MuseoCyrl-900Italic.svg#MuseoCyrl-900Italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Cyrl 100';
  src: url('/fonts/MuseoCyrl-100Italic.eot');
  src: url('/fonts/MuseoCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoCyrl-100Italic.woff2') format('woff2'),
  url('/fonts/MuseoCyrl-100Italic.woff') format('woff'),
  url('/fonts/MuseoCyrl-100Italic.ttf') format('truetype'),
  url('/fonts/MuseoCyrl-100Italic.svg#MuseoCyrl-100Italic') format('svg');
  font-weight: 200;
  font-style: italic;
}
html,body{
  font-family: 'Museo Sans Cyrl 300';
  line-height: 1.49;
  font-size: 15px;
  height: 100%;
}
*{
  -webkit-font-smoothing: antialiased;
}
b{
  font-family: 'Museo Sans Cyrl 900';
}
*{
  outline: 0 !important;
}
/**Registration part**/
.main-reg{
  width: 100%;
  background: url(/images/bg-reg.jpg) center no-repeat;
  background-size: cover;
  min-height: 750px;
  height: 100%;
}
.new-fluid{
  padding: 44px 100px 0px 100px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.blind-selector{
  font-family: 'Museo Cyrl 700';
  color:#fff;
}
.blind-selector a{
  text-decoration: none !important;
  color:#fff !important;
}
.blind-selector a:first-child{
  padding-right:20px;
}
.white{
  color:#fff !important;
}
.reg-phone p{
  margin:0;
}
.reg-phone b{
  line-height: 1.56;
}
.reg-phone a{
  font-size: 18px;
  font-weight: 500;
  font-family: 'Museo Sans Cyrl 500';
  line-height: 1.39;
}
.reg-phone {
  margin-top: 8px;
  margin-bottom:22px;
}
.soc-reg{
  margin:0 -5px;
}
.soc-reg a{
  padding: 0 5px;
}
.login-form{
  max-width: 310px;
  margin: 0 auto;
  width: 100%;
}
.login-ctn{
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position:relative;
  z-index: 10;
  min-height: 300px;
}
#myTab{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}
#myTab a{
  font-family: 'Museo Cyrl 500';
  font-size: 24px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1px;
  border-bottom: solid 2px transparent;
}
#myTab a.active{
  border-bottom: solid 2px #ffffff;
}
.main-reg input {
  width: 100%;
  font-size: 12px;
  font-family: 'Museo Sans Cyrl 300';
  border-radius: 20px;
  border: solid 1px #ffffff;
  padding: 12px 27px;
  background: transparent;
  color: #fff;
}
.main-reg input::-webkit-input-placeholder{
  color:#fff !important;
}
input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 23px;
  height: 18px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  margin:0;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -18px;
}
label.css-label {
  background-image:url('/images/check-new.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.password-forgot a{
  font-size: 15px;
  display: block;
}
.align-center{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
button.btn-new.btn-green {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
  background-color: #abcd45;
  border: 0;
  padding: 10px;
}
h1, .h1{
  font-family: 'Museo Cyrl 500';
  font-size: 24px;
}
h2, .h2{
  font-family: 'Museo Cyrl 300';
  font-size: 20px;
}
.nomargin{
  margin:0;
}
.main-reg header{
  position:relative;
}
.foo-reg{
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 40px;
  position:relative;
  font-size: 16px;
}
.foo-reg a{
  color: #4a90e2;
  text-decoration: underline;
}
.foo-logo-reg{
  position: absolute;
  bottom: 0;
  right: -100px;
}
/***** INNER PAGE FRAME*****/
.main-fluid {
  padding-left: 60px;
  padding-right: 30px;
}
.col-logo {
  max-width: 340px;
}
header.main-header {
  height: 100px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
.flex-middle{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-header > .row{
  height:100%;
}
select.contract-selector {
  border-radius: 20px;
  border: solid 2px #f55f68;
  -webkit-appearance: none;
  padding: 4px 25px 4px 16px;
  font-size: 14px;
  background: url(/images/sel-arrow.svg)no-repeat center;
  background-position-x: 95%;
}
.contract-select b{
  font-family: 'Museo Sans Cyrl 700';
  font-size: 16px;
  padding-right:5px
}
.contract-select{
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
}
.tool-nav{
  margin:0 -15px;
  display: inline-block;
  padding-left: 45px;
}
.tool-nav a{
  padding:0 15px;
}
.lang-switcher-in{
  font-size: 16px;
  font-family: 'Museo Cyrl 700';
  color: #000000 !important
}
.btn-red{
  border-radius: 20px;
  background-color: #f55f68;
  -webkit-box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.15);
  color: #fff !important;
  font-size: 13px;
  font-family: 'Museo Sans Cyrl 500';
  padding: 9px 15px;
  text-decoration: none !important;
  min-width: 118px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.header-nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.left-panel{
  max-width: 340px;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 100px;
  padding-top: 65px;
  bottom: 0;
  overflow-y: auto;
}
.panel-group div {
  min-width: 35px;
  text-align: right;
  margin-right: 25px;
}
.panel-group a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color:#000;
  font-family: 'Museo Cyrl 500';
  line-height: 1.36;
}
.panel-group {
  padding: 20px 0px;
}
.main-content{
  padding-top: 100px;
  padding-right: 15px;
}
.main-inner-ctn.row {
  min-height: calc(100vh - 100px);
}
.right-content{
  margin-left: 340px;
  background-color: #f6f6f6;
  padding-top: 65px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 111px;
}
.right-content > .row{
  padding-bottom:30px;
}
.new-table tbody tr{
  border-bottom: 1px solid #dadada;
}
.new-table tbody tr:last-child{
  border:0;
}
.new-table tbody tr td{
  padding-left: 0;
  padding-right: 30px;
  vertical-align: middle;
  font-size: 15px;
  padding-top: 26px;
  padding-bottom: 26px;
  border-top: 0px;
}
.new-table tbody tr td:last-child{
  padding-right:0;
  text-align: right;
}
.new-table thead tr{
}
.new-table{
  margin:0
}
.new-table thead tr th{
  font-size: 14px;
  font-family: 'Museo Cyrl 700';
  border-bottom: solid 2px #f9c623;
  padding: 23px 0px 13px 0px;
}
.new-progress span {
  display: block;
  width: 0%;
  height: 100%;
  background: #F9C623;
}
.new-progress {
  width: 100%;
  height: 21px;
  border-radius: 20px;
  border: solid 1px #d8d8d8;
  min-width: 115px;
  overflow: hidden;
  margin-right: 10px;
}
.inner-container {
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
}
.inner-header{
  padding: 17px 35px;
  font-family: 'Museo Cyrl 500';
  font-size: 24px;
  color: #fff;
}
.f9c623{
  background-color: #f9c623;
}
.small-wrapper{
  padding: 0 35px;
}
.table-1 tbody td:first-child{
  color: #aaaaaa;
  font-size:14px;
  line-height: 1.6;
}
.aa9d1{
  background-color: #3aa9d1;
}
/** CALENDAR CSS **/
#calendar .ui-datepicker{
  width: 100%;
  border: 0;
  padding: 0;
}
#calendar .ui-datepicker .ui-datepicker-header {
  position: relative;
  margin-top: 18px;
  padding: 0;
  background: transparent;
  border: 0;
  font-family: 'Museo Cyrl 500';
  font-size: 22px;
  border-bottom: solid 2px #3aa9d1;
  border-radius: 0;
}
#calendar .ui-datepicker .ui-datepicker-prev{
  border:0px;
  background: none;
  top:0;
  left:0;
}
#calendar .ui-datepicker .ui-datepicker-next{
  border:0px;
  background: none;
  top:0;
  right:0;
}
#calendar .ui-datepicker .ui-datepicker-prev .ui-icon {
  background: url(/images/cal-arrow-left.svg) no-repeat;
  left: 8px;
}
#calendar .ui-datepicker .ui-datepicker-next .ui-icon {
  background: url(/images/cal-arrow-right.svg) no-repeat;
  left: 100%;
}
#calendar .ui-datepicker th{
  font-family: 'Museo Sans Cyrl 700';
  font-size: 15px;
  color: #e9e9e9;
}
#calendar .ui-datepicker th.ui-datepicker-week-end{
  color: #f55f68;
}
.calendar-ctn .small-wrapper{
  padding:0 25px;
}
#calendar .ui-datepicker td span, .ui-datepicker td a{
  text-align: center;
  background: none !important;
  border-radius: 150px !important;
  display: block;
  border: 0 !important;
}
.legend-group{
  font-size: 11px;
  font-family: 'Museo Sans Cyrl 700';
  padding-bottom: 10px;
  padding-left: 15px;
}
.legend-group:before{
  content:'';
  display:inline-block;
  width:10px;
  height: 10px;
  border-radius: 150px;
  margin-left: -5px;
}
.legend-group.session:before{
  background-color: #f55f68;
}
.legend-group.practice:before{
  background-color: #3aa9d1;
}
.legend-group.self-recording:before{
  background-color: #abcd45;
}
.legend-group.examination:before{
  background-color: #f9c623;
}
.f55f68{
  background-color: #f55f68;
}
.inner-header small{
  font-size: 12px;
  display: block;
  margin-top: -7px;
  margin-bottom: -11px;
}
.new-table.table-2 thead tr th{
  border-bottom: solid 2px #f55f68;
  border-top: 0;
}
.panel-group:first-child{
  padding-top:0px;
}
.abcd45{
  background:#abcd45;
}
.inner-header span{
  font-size: 12px;
}
.pushed-24{
  margin-right:24px;
}
.h-100{
  height:100%;
}
.balance {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 270px;
}
.balance-ctn .small-wrapper {
  height: calc(100% - 69px);
}
.balance p{
  font-size: 36px;
  font-family: 'Museo Cyrl 500';
  color: #abcd45;
  margin-top: 90px;
}
.btn-green{
  border-radius: 20px;
  background-color: #abcd45;
  -webkit-box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.15);
  color: #fff !important;
  font-size: 13px;
  font-family: 'Museo Sans Cyrl 500';
  padding: 9px 15px;
  text-decoration: none !important;
  min-width: 118px;
  display: inline-block;
  text-align: center;
}
.balance .btn-green{
  position: absolute;
  bottom: 30px;
}
footer.foo-main {
  padding-bottom: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.left-panel .inner-panel{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 60px;
}
.left-panel > div{
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.notif-icon{
  position:relative;
}
.notif-icon > span{
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #f55f68;
  top: -20px;
  right: -2px;
  font-size: 10px;
  color: #fff !important;
  border-radius: 150px;
  vertical-align: middle;
  line-height: 17px;
  font-family: 'Museo Sans Cyrl 500';
}
.notifications-ctn{
  position: absolute;
  width: 334px;
  height: 337px;
  text-align: left;
  background: url(/images/noti-bg.svg)no-repeat;
  background-size: cover;
  right: -10px;
  top: 30px;
  padding: 25px 30px;
  display: block;
}
.notif-list ul{
  padding: 0;
  margin:0;
  list-style-type:none;
}
.notif-ctn > strong{
  color: #000000;
  font-family: 'Museo Cyrl 500';
  font-size: 12px;
  padding-bottom: 4px;
  display: block;
  border-bottom: solid 1px #f55f68;
}
.notif-list ul li span{
  display: block;
  color: #aaaaaa;
  line-height: 2.24;
  font-size: 10px;
}
.notif-list ul li{
  font-size: 12px;
  padding: 5px 0px;
  color: #aaaaaa;
  line-height: 1.03;
  position: relative;
  padding-left: 18px;
}
.notif-list ul li.un-read{
  color:#000;
}
.notif-list {
  max-height: 260px;
  overflow-y: scroll;
  margin-top: 15px;
}
/* width */
.notif-list::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.notif-list::-webkit-scrollbar-track {
  background: #dadada;
  border: 2px solid transparent;
  background-clip: content-box;   /* THIS IS IMPORTANT */
}
/* Handle */
.notif-list::-webkit-scrollbar-thumb {
  background: #f55f68;
  border: 1px solid #f55f68;
  border-radius: 5.5px;
}
.notif-icon{
  text-decoration: none !important;
}
.notif-list li:before {
  content: '';
  height: 7px;
  width: 7px;
  display: block;
  position: absolute;
  top: 7px;
  border-radius: 150px;
  left: 0;
}
.notif-list li.read:before{
  background: #aaaaaa;
}
.notif-list li.un-read:before{
  background: #f55f68;
}
.pop-wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 50px 40px 50px;
}
section.popup-new {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999999;
  margin: 0 auto;
  background: rgba(155, 155, 155, 0.63);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pop-title {
  font-size: 20px;
  font-family: 'Museo Cyrl 300';
  margin-bottom: 12px;
}
.pop-date {
  font-size: 14px;
  color: #aaaaaa;
  line-height: 1.6;
  margin-bottom: 2px;
}
.pop-header {
  border-bottom: solid 2px #f55f68;
  margin-bottom: 25px;
}
.pop-close img {
  padding-top: 5px;
}
/***planning**/
.planning-selector{
}
.course-prev::before{
  content: '';
  background: url(/images/arrow-g-left.svg)no-repeat;
  display: block;
  height: 12px;
  width: 9px;
  float: left;
  margin-top: 9px;
  margin-right: 10px;
}
.course-next::before{
  content: '';
  background: url(/images/arrow-g-right.svg)no-repeat;
  display: block;
  height: 12px;
  width: 9px;
  float: right;
  margin-top: 9px;
  margin-left: 10px;
}
.course-prev{
  font-size: 20px;
  color: #aaaaaa !important;
  font-family: 'Museo Cyrl 500';
  text-decoration: none !important;
}
.course-next{
  font-size: 20px;
  color: #aaaaaa !important;
  font-family: 'Museo Cyrl 500';
  text-decoration: none !important;
}
.current-course{
  font-size: 36px;
  font-family: 'Museo Cyrl 500';
  text-transform: uppercase;
}
.current-course > span{
  font-size:28px;
}
.current-course small{
  font-size: 15px;
  font-family: 'Museo Cyrl 300';
}
.planning-selector {
  border-bottom: solid 2px #abcd45;
}
.planning-ctn{
  padding-top:20px;
}
.planning-pills a{
  margin-right: 30px;
  font-size: 14px;
  color: #aaaaaa;
  border-bottom: dashed 1px #aaaaaa;
  line-height: 1;
  font-family: 'Museo Cyrl 700';
  text-decoration: none !important;
}
.planning-pills a.active,.planning-pills a:hover{
  border-bottom: solid 1px #abcd45;
  color: #abcd45;
}
.planning-info b{
  font-family: 'Museo Cyrl 700';
  font-size: 14px;
  font-weight: bold;
}
.planning-pills{
  margin-bottom:17px;
}
.btn-planning{
  -webkit-box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.1);
  border: solid 2px #abcd45;
  color: #abcd45 !important;
  background-color: #ffffff;
  font-size: 13px;
  font-family: 'Museo Sans Cyrl 500';
  padding: 7px 25px;
  text-decoration: none !important;
  border-radius: 20px;
  min-width: 118px;
  display: inline-block;
  text-align: center;
}
.planning-info .row{
  margin-bottom:30px;
}
.popup-planning{
}
.popup-planning .pop-wrapper{
  width: 100%;
  max-width:450px;
  margin: 0 auto;
  background: #fff;
  padding: 35px;
  border-radius: 10px;
}
.popup-planning .pop-header{
  border-bottom: solid 2px #abcd45;
}
.medium{
  font-family: 'Museo Cyrl 700';
}
.popup-planning span.active{
  border-bottom:solid 1px #abcd45;
}
.popup-planning span{
  border-bottom:solid 1px #aaa;
}
.popup-planning .d-flex:first-child{
  margin-top:10px;
}
.popup-planning .d-flex{
  margin-bottom:27px;
}
/** Documents**/
.table-3 tbody tr td:last-child{
  text-align: left;
}
.linegraph-selector{
  border:0px !important;
}
.course-1{
  background-color: #f55f68;
}
.course-2{
  background-color: #3aa9d1;
}
.course-3{
  background-color: #f9c623;
}
.course-4{
  background-color: #755665;
}
.course-5{
  background-color: #abcd45;
}
.course-6{
  background-color: #3C577F;
}
.course-7{
  background-color: #476143;
}
.course-8{
  background-color: #7C4B4B;
}
.linegraph-month .not-available{
  color: rgba(0, 0, 0, .5);
}
.course-1.not-available{
  background-color: rgba(245, 95, 104, .5);
}
.course-2.not-available{
  background-color: rgba(58, 169, 209, .5);
}
.course-3.not-available{
  background-color: rgba(249, 198, 35, .5);
}
.course-4.not-available{
  background-color: rgba(117, 86, 101, .5);
}
.course-5.not-available{
  background-color: rgba(171, 205, 69, .5);
}
.course-6.not-available{
  background-color: rgba(60, 87, 127, .5);
}
.course-7.not-available{
  background-color: rgba(71, 97, 67, .5);
}
.course-8.not-available{
  background-color: rgba(124, 75, 75, .5);
}
.linegraph-month > div:before{
  content: '';
  position: absolute;
  width: 1px;
  height: 300vh;
  background: #dadada;
  z-index: 0;
  right: -1px;
  top:0px;
}
.flex-vacation::after{
  content: '';
  position: absolute;
  min-height: 300vh;
  width: 15px;
  background: #d8d8d8;
  z-index: 11;
  left: 0px;
  top: 100%;
}
.linegraph-month > div{
  position: relative;
  font-size: 13px;
  font-family: 'Museo Cyrl 700';
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
}
.linegraph-ctn {
  -webkit-box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}
.flex-linegraph {
  height: 68px;
  position: relative;
}
.flex-linegraph > .flex-fill{
  position: relative;
  padding:5px 15px;
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.linegraph-month{
  height:100px;
}
.course-title{
  position: absolute;
  -ms-flex-item-align: start;
  align-self: flex-start;
  z-index: 30;
  color: #fff;
  font-family: 'Museo Cyrl 700';
  font-size: 14px;
}
.course-title.no-wrap{
  white-space: nowrap;
}
.flex-linegraph .flex-fill::before{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  background: transparent;
  position: absolute;
  border: 5px solid transparent;
  top: 0;
  right: 0;
}
.flex-linegraph .flex-fill:not(.empty-date):hover::before{
  border: 5px solid #fff;
  -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, .20);
  box-shadow: 1px 2px 7px rgba(0, 0, 0, .20);
}
.course-number{
  -ms-flex-item-align: end;
  align-self: flex-end;
  text-align: right;
  display: block;
  width: 100%;
  color: #fff;
  font-family: 'Museo Cyrl 700';
  font-size: 14px;
}
.course-ttl-r{
  right:15px;
}
.payment-icn{
  width: 20px;
  height: 20px;
  background: url(/images/rub-icn.svg) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.change-icn::after{
  content: '';
  width: 10px;
  height: 13px;
  display: inline-block;
  background: url(/images/change-icn.svg)no-repeat;
  vertical-align: middle;
  margin-left: 5px;
}
.linegraph-legend{
  margin-top:30px;
}
.btn-planning.btn-yellow{
  color: #f9c623 !important;
  border: solid 2px #f9c623;
}
#linegraph-current::before{
  content: '';
  background: url(/images/line-down.svg);
  display: block;
  height: 5px;
  width: 7px;
  margin-left: -3px;
}
#linegraph-current::after{
  content: '';
  background: url(/images/line-up.svg);
  display: block;
  height: 5px;
  width: 7px;
  position: relative;
  top: 100%;
  margin-top: -10px;
  margin-left: -3px;
}
#linegraph-current{
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  left: 32px;
  background-color: #ff0e2b;
  z-index: 50;
  background-repeat: no-repeat, no-repeat;
}
.tooltip.show {
  opacity: 1;
}
.tooltip-inner {
  max-width: 200px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px;
  line-height: 1.49;
  color: #000000;
  font-size: 15px;
  font-family: 'Museo Sans Cyrl 300';
  padding: 15px;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before{
  border-bottom-color: #fff;
}
.lgnd-date:before{
  content: '';
  height: 20px;
  width: 1px;
  background: #d0021b;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.lgnd-rub::before{
  content: '';
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background: url(/images/lgnd-rub.svg)no-repeat center;
  background-size: cover;
}
.lgnd-change::before{
  content: '';
  height: 20px;
  width: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background: url(/images/lgnd-change.svg)no-repeat center;
  background-size: cover;
}
.lgnd-vacations::before{
  content: '';
  height: 34px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background: #d8d8d8;
}
.linegraph-instructions{
  margin-top:32px;
}
.table th{
  border-top:0px;
}
.table-instructions td{
  width:25%;
}
.instructions-title{
  font-size: 20px;
  font-family: 'Museo Cyrl 300';
  padding-bottom: 12px;
  border-bottom: solid 2px #f9c623;
  margin-bottom: 0px;
  margin-top:15px;
}

.instructions-ctn .row:last-child > div{
  border:0px;
}
.instructions-ctn .row{
  margin-left:0px;
  margin-right:0px;
}
.instructions-ctn .row > div{
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: solid 1px #dadada;
  padding-bottom: 15px;
  padding-top: 15px;
}
.linegraph-instructions{
  margin-bottom:40px;
}
.course-sel{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: #fff;
  font-size: 18px;
  background: url(/images/sel-down.svg)no-repeat right center;
  padding-right: 20px;
}
.table-work tbody tr td:last-child{
  text-align: left;
}
.payment-ctn{
  padding-top:30px;
}

input[type=radio].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label {
  padding-left:35px;
  height:20px;
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;

}
input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -20px;
}
label.css-label {
  background-image:url('/images/radio.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-size:20px;
}
.payment-radios{
  padding-top: 30px;
}
.payment-bottom {
  margin-top: 40px;
}
.payment-sep {
  border-top: 1px solid #dadada;
  padding-top: 12px;
  padding-bottom: 15px;
  font-size: 13px;
  font-family: 'Museo Cyrl 500';
  color: #aaa;
}
.vacations-ctn{
  margin-top:30px;
}
.vacations-ctn b{
  font-size: 14px;
}
.input-calendar{
  border-bottom: solid 1px #abcd45;
  margin-top: 10px;
  display: inline-block;
}
.vacations-ctn h2{
  padding-bottom:20px;
}
.academic_sel{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-bottom: 1px solid #aaaaaa;
  border-radius: 0;
  line-height: 1.49;
  background: transparent;
  color: #000;
  font-size: 15px;
  background: url(/images/sel-b-down.svg)no-repeat right center;
  padding-right: 20px;
  font-family: 'Museo Sans Cyrl 300';
  margin-top:10px;
  margin-bottom:30px;
}
.range-minus, .range-plus{
  background: transparent;
  border:0px;
  padding:0px;
  cursor: pointer;
}
.range-value {
  margin: 0 10px;
}
.range-ctn{
  margin-top:10px;
}
.table_info thead tr th{
  border-color:#abcd45
}
